body {
	margin: 0;
	background-color: #37457e;
	color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

header {
	font-size: 24px;
	text-align: center;
	margin-top: 20px;
}

a {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	text-align: center;
	color: #fff;
	font-size: 50px;
}

.gig-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}

.shuffle {
	font-size: 40px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	padding: 20px;
	-webkit-transform:translate(-50%, 200%);
	-moz-transform:translate(-50%, 200%);
	transform:translate(-50%, 200%);
	cursor: pointer;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.shuffle.active {
	-webkit-transform:translate(-50%, 0%);
	-moz-transform:translate(-50%, 0%);
	transform:translate(-50%, 0%);
}

div a {
	color: #fff;
	text-decoration: none;
}

div a:hover {
	text-decoration: underline;
}

.api-credit {
	width: 18px;
	float: right;
}

.credit div {
	position: absolute;
	left: 0px;
	top: 2px;
}

.credit {
	width: 100px;
	position: absolute;
	right: 5px;
	bottom:5px;
	filter: alpha(opacity=50);
	-khtml-opacity: .50;
	-moz-opacity: .50;
	opacity: .50;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.form-container {
  opacity: 0;
}

.form-container.fadeIn {
  opacity: 1;
}

.submit-btn {
	margin-top: 30px;
	display: block;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	text-align: center;
	line-height: 150px;
	font-size: 20px;
	background-color: #ffce6d;
	color: #37457e;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
  border: 0;
}

.submit-btn:focus {
  outline: 0;
}

.submit-btn:hover {
	filter: alpha(opacity=90);
  -khtml-opacity: .9;
	-moz-opacity: .9;
	opacity: .9;
	text-decoration: none;
	border-top-left-radius: 48%;
	border-bottom-left-radius: 47%;
	border-top-right-radius: 43%;
	border-bottom-right-radius: 54%;
}

.gig-container {
  opacity: 0;
}

.gig-container.fadeIn {
  opacity: 1;
}

input[type=range] {
  -webkit-appearance: none;
  width: 300px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #ff7858;
  cursor: pointer;
  margin-top: -14px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #ff7858;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 36px;
  width: 36px;
  border-radius:50%;
  background: #ff7858;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: none;
  background: rgba(255,255,255,0.5);
  border-radius: 4.2px;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: none;
  background: rgba(255,255,255,0.5);
  border-radius: 4.2px;
  border: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: none;
  background: rgba(255,255,255,0.5);
  border-radius: 4.2px;
  border: none;
}

.loading-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
}

.spinner {
	background-color: #ff7858;
	width: 200px;
	height: 200px;
	animation: spinner 3s infinite linear;
}

@keyframes spinner {
  0% {
    transform: translate(-50%,-50%) rotate(0deg);
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    border-bottom-left-radius:50%;
  }
  20% {
    border-top-left-radius:42%;
    border-top-right-radius:50%;
    border-bottom-right-radius:46%;
    border-bottom-left-radius:47%;
  }
   50% {
    border-top-left-radius:40%;
    border-top-right-radius:43%;
    border-bottom-right-radius:46%;
    border-bottom-left-radius:44%;
  }
   75% {
    border-top-left-radius:52%;
    border-top-right-radius:45%;
    border-bottom-right-radius:48%;
    border-bottom-left-radius:50%;
  }
  100% {
    transform: translate(-50%,-50%) rotate(360deg);
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    border-bottom-left-radius:50%;
  }
}

.fadeOut {
  animation: fadeOut .5s linear;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn .5s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
	.content {
		font-size: 32px;
		width: 95%;
	}

	.shuffle {
		padding: 12px;
		font-size: 20px;
	}
}
