* {
  box-sizing: border-box;
}

body {
	background-color: #37457e;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	overflow: hidden;
}

.m0 {
  margin: 0;
}

.mt1 {
  margin-top: .5rem;
}

.p2 {
  padding: 1rem;
}

.col-12 {
  width: 100%;
}

.absolute {
  position: absolute;
}

.center {
  text-align: center;
}

.block {
  display: block;
}

.content-center {
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.white {
  color: #fff;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.5rem;
}

.h3 {
  font-size: 1.75rem;
}

.h4 {
  font-size: 1.25rem;
}

.transition {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.shuffle {
	bottom: 10px;
	left: 50%;
	-webkit-transform:translate(-50%, 200%);
	-moz-transform:translate(-50%, 200%);
	transform:translate(-50%, 200%);
	cursor: pointer;
  user-select: none;
}

.shuffle.active {
	-webkit-transform:translate(-50%, 0%);
	-moz-transform:translate(-50%, 0%);
	transform:translate(-50%, 0%);
}

.text-decoration-none {
	text-decoration: none;
}

.api-credit {
	width: 18px;
	float: right;
}

.credit {
	width: 100px;
	position: absolute;
	right: 5px;
	bottom:5px;
	opacity: .5;
}

.form-container {
  opacity: 0;
}

.form-container.fadeIn {
  opacity: 1;
}

.submit-btn {
	margin-top: 30px;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	line-height: 150px;
	background-color: #ffce6d;
	color: #37457e;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
  border: 0;
}

.submit-btn:focus {
  outline: 0;
}

.submit-btn:hover {
	opacity: .9;
	border-radius: 48% 47% 43% 54%;
}

.gig-container {
  opacity: 0;
}

.gig-container.fadeIn {
  opacity: 1;
}

input[type=range] {
  -webkit-appearance: none;
  width: 300px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #ff7858;
  cursor: pointer;
  margin-top: -14px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #ff7858;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 36px;
  width: 36px;
  border-radius:50%;
  background: #ff7858;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: none;
  background: rgba(255,255,255,0.5);
  border-radius: 4.2px;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: none;
  background: rgba(255,255,255,0.5);
  border-radius: 4.2px;
  border: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: none;
  background: rgba(255,255,255,0.5);
  border-radius: 4.2px;
  border: none;
}

.loading-indicator {
  left: 50%;
  top: 50%;
}

.spinner {
	background-color: #ff7858;
	width: 200px;
	height: 200px;
	animation: spinner 3s infinite linear;
}

@keyframes spinner {
  0% {
    transform: translate(-50%,-50%) rotate(0deg);
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    border-bottom-left-radius:50%;
  }
  20% {
    border-top-left-radius:42%;
    border-top-right-radius:50%;
    border-bottom-right-radius:46%;
    border-bottom-left-radius:47%;
  }
   50% {
    border-top-left-radius:40%;
    border-top-right-radius:43%;
    border-bottom-right-radius:46%;
    border-bottom-left-radius:44%;
  }
   75% {
    border-top-left-radius:52%;
    border-top-right-radius:45%;
    border-bottom-right-radius:48%;
    border-bottom-left-radius:50%;
  }
  100% {
    transform: translate(-50%,-50%) rotate(360deg);
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    border-bottom-left-radius:50%;
  }
}

.fadeOut {
  animation: fadeOut .5s linear;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn .5s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
	.content {
		font-size: 2.5rem;
		width: 95%;
	}

	.shuffle {
		padding: 12px;
		font-size: 20px;
	}
}
